/* -------- MEDIA QUERIES ------------ */

    /*==========  Non-Mobile First Method  ==========*/

/*    /* Medium Devices, Desktops 
    @media only screen and (max-width : 992px) {
		body {
            font-size: 18px !important ;
        }
    }*/

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        body {
            font-size: 22px !important ;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        body {
            font-size: 26px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        body {
            font-size: 28px;
        } 
    }